<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <application android:theme="@style/AppTheme" android:label="DocuView HWP" android:icon="@drawable/ic_launcher" android:resizeableActivity="true" android:allowBackup="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/vnd.hancom.hwp" />
                <data android:mimeType="application/haansofthwp" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="application/vnd.hancom.hwpx" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
            </intent-filter>
        </activity>
    </application>
</manifest>
